/figures/SignaturePlot/AMZN/20160104/*.eps
/figures/SignaturePlot/AMZN/20160115/*.eps
/figures/SignaturePlot/AMZN/20160129/*.eps
/figures/SignaturePlot/NFLX/20160104/*.eps
/figures/SignaturePlot/NFLX/20160115/*.eps
/figures/SignaturePlot/NFLX/20160129/*.eps
/figures/SignaturePlot/TSLA/20160104/*.eps
/figures/SignaturePlot/TSLA/20160115/*.eps
/figures/SignaturePlot/TSLA/20160129/*.eps
